@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-polygon {
  clip-path: polygon(35% 0%, 100% 0, 100% 100%, 0% 100%);
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.blinking-circle {
  animation: blink 2s linear infinite;
}
